<div class="bg">
  <div style="display: flex; justify-content: space-around">
    <div class="bubble">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="bubble">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="bubble">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="bubble">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="bubble">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="bubble">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="bubble">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="bubble">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="align">
    <router-outlet></router-outlet>
  </div>
</div>
