.timeline {
    position: relative;
    margin: 40px auto;
    padding: 0;
    list-style: none;
    width: 100%;
    max-width: 800px;
  }
  
  .timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #ccc;
    left: 50%;
    margin-left: -1px;
  }
  
  .timeline li {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse; /* Added property to reverse the content order */
  }
  
  .timeline li:nth-child(even) .timeline-content {
    margin-right: auto;
    margin-left: 20px;
  }
  
  .timeline li:nth-child(odd) .timeline-content {
    margin-left: auto;
    margin-right: 20px;
  }
  
  .timeline li:before {
    // content: '';
    position: absolute;
    bottom: 0; /* Changed position from top to bottom */
    left: -6px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ccc;
  }
  
  .timeline li:last-child:before {
    display: none;
  }
  
  .timeline li .timeline-content {
    padding: 15px;
    background: #f5f5f5;
    position: relative;
    border-radius: 6px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    color: #333;
    width: 20rem;
  }
  
  .timeline li .timeline-content h3 {
    margin-top: 0;
    color: #333;
  }
  
  .timeline li .timeline-content p {
    margin: 20px 0 0;
    color: #999;
  }
  