<br />
<div class="heading">
   {{pageTitle}}
</div>
<ul class="timeline">
  <li>
    <div class="timeline-content">
      <h3>Senior Software Engineer</h3>
      <p>Tata Communications (Nov 2021 - Till Date)</p>
    </div>
  </li>
  <li>
    <div class="timeline-content">
      <h3>Software Engineer</h3>
      <p>Tata Communications (Jan 2021 - Nov 2021)</p>
    </div>
  </li>
  <li>
    <div class="timeline-content">
      <h3>Software Developer</h3>
      <p>Dowhistle (May 2020 - Jan 2021)</p>
    </div>
  </li>
  <li>
    <div class="timeline-content">
      <h3>Software Engineer</h3>
      <p>Dcube Analytics (Oct 2019 - May 2020)</p>
      
    </div>
  </li>
  <li>
    <div class="timeline-content">
      <h3>B.E., Industrial Engineering</h3>
      <p>College of Engineering , Guindy (2015-2019)</p>
    </div>
  </li>
 
</ul>
