<div>
  {{pageTitle}}
</div>

<div class="about-container">
  <div class="grid-item">
    I'm a Software Engineer with 3.5+ years of experience in Angular12+, React,
    RxJs and state management like Ngrx, Redux with proficiency in web
    technologies like HTML5, CSS3, JavaScript, building large-scale web
    applications, cross-browser platforms, and design constraints on the web,
    and building responsive user interfaces.Involved in Node.js and Django for
    some preojects
  </div>
  <div></div>
  
</div>
