.heading {
    // font-family: 'Montserrat', sans-serif;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    font-size: xx-large;
    color: lightgoldenrodyellow;
    margin:0% 0% 0% 1%;
}

body{
    background-image: url('/assets/bubble.jpg');
}

/* You can add global styles to this file, and also import other style files */