<div class="home-grid">

    <div class="child first">
        <img style="border-radius: 20%;" src="../../assets/profile.jpg" height="200" width="180" alt="Image">
    </div>

    <div class="child home-container">
        <div>
                  Hi 👋, 
            <span>
               my name is  Dhivyapriya Ravichandran
            </span>
        </div>
        <div>
            But you can call me as
            <span>
                DP
            </span>
        </div>
        &nbsp;
        <div style="font-size: 18px;">
            I'm a <code>Frontend developer</code> passionate about turning ideas into real life products.
        </div>
    </div>

</div>

